* {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #FECB03;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color:#192553;
  /* background-color:gray; */
  height: 60px;
  color: #FECB03;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #app-name {
  width: 90%;
  text-align: center;
}

#logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

main {
  margin-top: 60px;
  height: 1500px;
  background-image: url("Pokemon_Trading_Card_Game_cardback.jpg");
  background-color: gray;
  color: white;
  text-align: center;
}

#search-section {
  display: inline-block;
  width: 600px;
  border: 5px solid white;
  background-color: gray;
  margin: 50px;
  padding: 10px;
}

#search-section h2 {
  margin: 10px;
}

#search-section input {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1em;
}

#search-button {
  font-size: 1em;
  padding: 10px 24px;
  border-radius: 20px;
  border: none;
}

#search-button:hover {
  color: white;
  background-color:#192553;
}

#main-card-banner {
  width: 100%;
  /* background-color:#192553; */
  background-color:gray;
  height: 60px;
  display: none;
  align-items: center;
}

#main-card-banner-title {
  color: white;
}

#main-card {
  background-image: url("Pokemon_Trading_Card_Game_cardback.jpg");
}

#main-card-img {
  margin: 20px;
  height: 500px;
  object-fit: cover;
  background-color: white;
  padding: 10px;
}

#alt-card-banner {
  width: 100%;
  /* background-color:#192553; */
  background-color:gray;
  height: 60px;
  display: none;
  align-items: center;
}

#alt-card-banner-title {
  color: white;
}

#alt-card {
  background-image: url("Pokemon_Trading_Card_Game_cardback.jpg");  
}

#alt-card-img {
  margin: 20px;
  height: 250px;
  object-fit: cover;
  background-color: white;
  padding: 10px;
}

#evolution-card-banner {
  width: 100%;
  /* background-color:#192553; */
  background-color:gray;
  height: 60px;
  display: none;
  align-items: center;
}

#evolution-card-banner-title {
  color: white;
}

#evolution-card {
  background-image: url("Pokemon_Trading_Card_Game_cardback.jpg");  
  display: flex;
  align-items: center;
  display:none;
}

.evolution-card-header {
  margin-top: 20px;
  padding: 10px;
  background-color: gray;

}
.evolution-cards {
  margin: 20px;
  height: 250px;
  object-fit: cover;
  background-color: white;
  padding: 10px;
}

.double-arrow {
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding: 10px;
  background-color: white;
}
footer {
  /* background-color:#192553; */
  background-color:gray;
  height: 30px;
  color: #FECB03;
  display: flex;
  align-items: center;  
}

#evolution-card-1 {
  display: none;
}

#evolution-arrow-1 {
  display: none;
}

#evolution-card-2 {
  display: none;
}

#evolution-arrow-2 {
  display: none;
}

#evolution-card-3 {
  display: none;
}